@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");
* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

img {
  display: block; }

body {
  font-family: 'NanumBarunGothic', sans-serif;
  height: 100vh; }

.wrap {
  width: 1100px;
  margin: 0 auto; }

.body-wrap {
  position: relative; }

.header {
  position: absolute;
  width: 100%;
  height: 91px;
  padding: 18px 0;
  z-index: 3;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .header .menu-wrap {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr; }
  .header .menu__small {
    display: flex;
    font-size: 13px;
    margin-bottom: 13px;
    color: #919191; }
    .header .menu__small li:not(:last-child) {
      margin-right: 20px; }
  .header .menu__large {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .menu__large .menu__icon {
      height: 36px;
      display: flex; }
      .header .menu__large .menu__icon a {
        width: 36px;
        background-repeat: no-repeat;
        background-position: center center; }
      .header .menu__large .menu__icon .btn-open-sitemap {
        background-image: url("../img/ico-sitemap-white.png"); }
      .header .menu__large .menu__icon .btn-search {
        background-image: url("../img/ico-search-white.png"); }
      .header .menu__large .menu__icon .btn-schedule {
        background-image: url("../img/ico-schedule-white.png"); }
      .header .menu__large .menu__icon .btn-mymega {
        background-image: url("../img/ico-mymega-white.png"); }
    .header .menu__large .on {
      background-image: url("../img/btn-header-layer-close.png") !important; }
    .header .menu__large .menu__main {
      width: 65%;
      font-size: 18px; }
      .header .menu__large .menu__main > ul {
        display: flex;
        justify-content: space-around; }
      .header .menu__large .menu__main .menu__sub {
        position: absolute;
        display: none;
        width: 100%; }
  .header .logo {
    display: flex;
    align-items: center;
    justify-content: center; }
  .header .menu-right .menu__small {
    justify-content: flex-end; }
  .header .menu-right .menu__icon {
    order: 1; }

.header .layer-sitemap {
  display: none;
  position: absolute;
  width: 100%;
  padding: 50px 0 70px;
  top: 90px;
  left: 0;
  background-color: #333; }
  .header .layer-sitemap h4 {
    text-transform: uppercase;
    font-size: 22px; }
  .header .layer-sitemap .sitemap__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 25px;
    text-align: center; }
    .header .layer-sitemap .sitemap__list ul li {
      color: #bbb;
      font-size: 15px; }
      .header .layer-sitemap .sitemap__list ul li:first-child {
        color: white;
        font-size: 18px;
        padding: 15px 0;
        border-top: 1px solid rgba(68, 68, 68, 0.5);
        border-bottom: 1px solid rgba(68, 68, 68, 0.5);
        margin-bottom: 20px; }
      .header .layer-sitemap .sitemap__list ul li:not(:last-child) {
        margin-bottom: 15px; }
      .header .layer-sitemap .sitemap__list ul li:not(:first-child) {
        cursor: pointer; }
        .header .layer-sitemap .sitemap__list ul li:not(:first-child):hover {
          text-decoration: underline;
          color: #2a9baf; }
    .header .layer-sitemap .sitemap__list ul:nth-child(5), .header .layer-sitemap .sitemap__list ul:nth-child(6) {
      grid-row-start: span 2; }

.header .layer-header-search {
  display: none;
  position: absolute;
  width: 100%;
  padding: 50px 0 60px;
  top: 90px;
  left: 0;
  background-color: #351f67; }
  .header .layer-header-search .wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center; }

.layer-header-search .rank-btn button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: white;
  padding: 0;
  padding-bottom: 10px; }
  .layer-header-search .rank-btn button:first-child {
    margin-right: 25px; }

.layer-header-search .rank-btn .on {
  border-bottom: 2px solid white; }

.layer-header-search .rank-contents > div {
  display: none;
  align-items: center;
  margin-top: 30px; }
  .layer-header-search .rank-contents > div img {
    width: 150px;
    height: 214px;
    margin-right: 50px; }
  .layer-header-search .rank-contents > div ul li {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 15px; }
    .layer-header-search .rank-contents > div ul li span {
      font-size: 25px;
      font-style: italic;
      margin-right: 15px; }

.layer-header-search .rank-contents .visible {
  display: flex; }

main {
  letter-spacing: -0.5px; }

.boxoffice {
  position: relative;
  color: white;
  overflow: hidden;
  margin-bottom: 50px; }
  .boxoffice .bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    margin: 0 auto; }
    .boxoffice .bg::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(to right, #553f05 0%, rgba(23, 17, 1, 0) 50%, #553f05 100%); }
    .boxoffice .bg::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(3, 1, 21, 0.7); }
    .boxoffice .bg-pattern {
      content: '';
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url("https://www.megabox.co.kr/static/pc/images/movie/bg-movie-detail-pattern.png") repeat 0 0; }
    .boxoffice .bg img {
      width: 100%;
      object-fit: cover;
      filter: blur(15px); }

.contents {
  width: 100%;
  margin-top: 170px;
  font-size: 16px; }

.content__title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; }
  .content__title h3 {
    padding-bottom: 7px;
    border-bottom: 1px solid #aaa; }

.content__title .more-movie {
  justify-self: end;
  display: flex;
  align-items: center;
  color: #aaa;
  font-size: 15px; }
  .content__title .more-movie span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-size: cover;
    background-position: center center;
    margin-left: 10px; }
  .content__title .more-movie span {
    background-image: url("../img/ico-more-cross-gray.png"); }

.movie-list {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 50px; }
  .movie-list .movie:not(:last-child) {
    margin-right: 20px; }
  .movie-list .btn-util {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5px;
    margin-top: 10px; }
  .movie-list .like {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #555;
    border-radius: 5px; }
    .movie-list .like .like__heart {
      width: 17px;
      height: 15px;
      background-image: url("../img/ico-heart-toggle-main.png");
      margin-right: 5px; }
    .movie-list .like .like__count {
      font-size: 13px;
      color: white; }
  .movie-list .ticketing {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: #107b96;
    font-size: 15px;
    color: white; }

.movie__info {
  position: relative;
  display: inline-block; }
  .movie__info:hover .back {
    display: flex;
    opacity: 1;
    border-radius: 5px; }
  .movie__info .front {
    position: relative; }
    .movie__info .front .rank {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 15px;
      font-size: 30px;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
      background: url("../img/bg-main-movie-rank.png") no-repeat 0 0; }
    .movie__info .front img {
      width: 245px;
      height: 352px;
      border-radius: 5px; }
  .movie__info .back {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 20px 30px;
    background-color: rgba(0, 0, 0, 0.85);
    font-size: 15px;
    line-height: 1.5;
    opacity: 0;
    transition: opacity 0.3s linear; }
    .movie__info .back .review {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 15px;
      border-top: 1px solid rgba(116, 116, 116, 0.247); }
      .movie__info .back .review span {
        margin-left: 20px;
        font-size: 25px;
        color: #43b0c4; }

.link-menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 25px 0;
  margin-bottom: 50px;
  justify-items: center;
  font-size: 15px; }
  .link-menu > div,
  .link-menu a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
    .link-menu > div:not(:last-child),
    .link-menu a:not(:last-child) {
      border-right: 1px solid rgba(255, 255, 255, 0.2); }
  .link-menu a span {
    margin-right: 10px;
    display: inline-block; }
  .link-menu .link__search {
    position: relative; }
    .link-menu .link__search input {
      width: 200px;
      padding: 0 10px 5px 10px;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      background: none;
      font-size: 15px;
      color: white; }
      .link-menu .link__search input:focus {
        outline: none; }
    .link-menu .link__search button {
      position: absolute;
      right: 35px;
      top: 0;
      outline: none;
      border: none;
      background: transparent;
      cursor: pointer; }
      .link-menu .link__search button span {
        display: inline-block;
        width: 18px;
        height: 18px;
        background-image: url("../img/ico-search-white.png"); }
  .link-menu .link__schedule span {
    width: 24px;
    height: 26px;
    background-image: url("../img/ico-schedule-main.png"); }
  .link-menu .link__boxoffice span {
    width: 26px;
    height: 24px;
    background-image: url("../img/ico-boxoffice-main.png"); }
  .link-menu .link__ticketing span {
    width: 29px;
    height: 25px;
    background-image: url("../img/ico-quick-reserve-main.png"); }

.moving-mouse {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  animation: moveMouse 2s infinite; }

.benefit {
  position: relative;
  overflow: hidden;
  min-height: 780px; }
  .benefit::before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 465px;
    bottom: 0;
    background-color: #503396; }

.benefit__title {
  display: flex;
  justify-content: space-between; }
  .benefit__title h4 {
    font-size: 30px;
    color: #351f66; }
  .benefit__title .more-benefit {
    color: #aaa;
    font-size: 15px; }
    .benefit__title .more-benefit span {
      display: inline-block;
      width: 16px;
      height: 16px;
      background-size: cover;
      background-position: center center;
      margin-left: 10px; }
    .benefit__title .more-benefit span {
      background-image: url("../img/btn-more-cross-purple.png"); }

.benefit__contents {
  position: relative;
  height: 325px; }

.benefit__contents .slide {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }
  .benefit__contents .slide .slide-item {
    z-index: 0;
    position: absolute;
    top: 0;
    height: 100%; }
  .benefit__contents .slide .slide__txt {
    height: 230px;
    opacity: 0;
    transform: translateY(100px);
    transition: all 0.5s cubic-bezier(0.14, 0.17, 0.39, 0.81); }
  .benefit__contents .slide .slide__bg {
    overflow: hidden;
    width: 400px;
    height: 100%;
    opacity: 0;
    transform: translate(100px);
    transition: all 0.5s cubic-bezier(0.14, 0.17, 0.39, 0.81); }
  .benefit__contents .slide .showing {
    z-index: 1;
    display: flex; }
    .benefit__contents .slide .showing .slide__txt {
      transform: translateY(0);
      opacity: 1; }
    .benefit__contents .slide .showing .slide__bg {
      transform: translate(0);
      opacity: 1; }

.benefit__contents .slide-control {
  z-index: 2;
  position: absolute;
  left: 0;
  bottom: 42px;
  display: flex;
  align-items: center; }
  .benefit__contents .slide-control .control-wrap {
    width: 190px;
    height: 2px;
    background-color: #ebebeb;
    margin-right: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .benefit__contents .slide-control .control-wrap .on {
      background-color: #503396; }
  .benefit__contents .slide-control .control-util button {
    height: 12px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center; }
  .benefit__contents .slide-control .control-util .btn-prev {
    width: 7px;
    background-image: url(../img/btn-benefit-slider-prev.png); }
  .benefit__contents .slide-control .control-util .btn-next {
    width: 7px;
    background-image: url(../img/btn-benefit-slider-next.png); }
  .benefit__contents .slide-control .control-util .btn-pause {
    width: 6px;
    background-image: url(../img/btn-benefit-slider-pause.png); }
  .benefit__contents .slide-control .control-util .btn-play {
    display: none;
    width: 6px;
    background-image: url(../img/btn-benefit-slider-play.png); }
  .benefit__contents .slide-control .control-util .on {
    display: inline-block; }
  .benefit__contents .slide-control .slide-count {
    margin-top: 2px;
    margin-left: 8px;
    font-size: 15px; }

.benefit__contents .ad {
  width: 100%; }
  .benefit__contents .ad .banner {
    display: flex; }
  .benefit__contents .ad .banner a {
    width: 441px;
    height: 204px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2); }
    .benefit__contents .ad .banner a:last-child {
      width: 204px;
      margin-left: 20px; }
    .benefit__contents .ad .banner a img {
      width: 100%;
      height: 100%;
      border-radius: 5px; }
  .benefit__contents .ad .ad-img {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 415px;
    height: 530px; }
    .benefit__contents .ad .ad-img img {
      width: 100%;
      height: 100%;
      border-radius: 5px; }

.benefit__contents .menu-link {
  padding: 50px 60px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .benefit__contents .menu-link .link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: white; }
    .benefit__contents .menu-link .link a img {
      margin-bottom: 20px; }

.curation {
  background-color: #252451;
  padding-top: 50px;
  padding-bottom: 120px; }
  .curation .curation__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px; }
    .curation .curation__title h4 {
      font-size: 30px;
      color: #351f66;
      color: white; }
    .curation .curation__title .more-curation {
      color: #aaa;
      font-size: 15px;
      display: flex;
      align-items: center; }
      .curation .curation__title .more-curation span {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-size: cover;
        background-position: center center;
        margin-left: 10px; }
      .curation .curation__title .more-curation span {
        background-image: url("../img/ico-more-cross-gray.png");
        margin-bottom: 3px; }
  .curation .curation-contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    color: white; }
    .curation .curation-contents .hero-movie {
      grid-row-start: span 2;
      padding-left: 20px; }
    .curation .curation-contents .hero-info,
    .curation .curation-contents .curation-list {
      grid-column-start: span 2; }
    .curation .curation-contents .bage {
      position: absolute;
      left: 0;
      top: -10px;
      width: 123px;
      height: 135px;
      text-indent: -9999px; }
  .curation .curation-contents .hero-movie {
    position: relative; }
    .curation .curation-contents .hero-movie p {
      background-image: url("../img/bg-bage-curation-classic.png");
      background-repeat: no-repeat; }
    .curation .curation-contents .hero-movie .hero__img img {
      width: 88%;
      border-radius: 20px; }
    .curation .curation-contents .hero-movie .btn-util {
      width: 88%;
      margin-top: 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      font-size: 20px; }
      .curation .curation-contents .hero-movie .btn-util a {
        padding: 15px;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 5px;
        text-align: center; }
      .curation .curation-contents .hero-movie .btn-util .ticketing {
        outline: none;
        border: none;
        border-radius: 5px;
        background-color: #107b96;
        font-size: 15px;
        color: white;
        font-size: 20px; }
  .curation .curation-contents .hero-info {
    line-height: 1.5; }
    .curation .curation-contents .hero-info h3 {
      font-size: 21px; }
    .curation .curation-contents .hero-info h4 {
      font-size: 35px;
      padding-bottom: 20px;
      border-bottom: 1px solid #474681; }
    .curation .curation-contents .hero-info ul {
      padding-top: 20px;
      font-size: 16px; }
      .curation .curation-contents .hero-info ul li:first-child {
        margin-bottom: 20px; }
  .curation .curation-contents .curation-list {
    margin-top: 25px; }
    .curation .curation-contents .curation-list ul {
      display: flex;
      justify-content: space-between; }
      .curation .curation-contents .curation-list ul a {
        display: flex;
        flex-direction: column;
        align-items: center; }
      .curation .curation-contents .curation-list ul li {
        position: relative; }
      .curation .curation-contents .curation-list ul li .img {
        width: 170px;
        height: 244px; }
        .curation .curation-contents .curation-list ul li .img .bage {
          left: 10px;
          top: -20px; }
        .curation .curation-contents .curation-list ul li .img p {
          background-image: url("../img/bg-bage-curation-film-m.png");
          background-repeat: no-repeat; }
        .curation .curation-contents .curation-list ul li .img img {
          width: 100%;
          height: 100%;
          border-radius: 10px; }
      .curation .curation-contents .curation-list ul li p {
        margin-top: 15px;
        font-size: 15px; }

.megabox-info {
  margin-top: 50px;
  margin-bottom: 100px; }
  .megabox-info .info__title {
    font-size: 30px;
    color: #351f66;
    margin-bottom: 40px; }
  .megabox-info .info__list ul {
    display: flex;
    justify-content: space-between; }
  .megabox-info .info__list a {
    display: block;
    width: 170px;
    height: 170px;
    border-radius: 10px;
    background-position: 0 0;
    background-size: 170px 340px;
    background-repeat: no-repeat;
    text-indent: -9999px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2); }
    .megabox-info .info__list a:not(:last-child) {
      margin-right: 16px; }
    .megabox-info .info__list a:hover {
      background-position: 0 bottom; }
  .megabox-info .bg-dolby {
    background-image: url("../img/bg-main-megainfo-dolby.png"); }
  .megabox-info .bg-private {
    background-image: url("../img/bg-main-megainfo-private.png"); }
  .megabox-info .bg-boutique {
    background-image: url("../img/bg-main-megainfo-boutique.png"); }
  .megabox-info .bg-mx {
    background-image: url("../img/bg-main-megainfo-mx.png"); }
  .megabox-info .bg-comfort {
    background-image: url("../img/bg-main-megainfo-comfort.png"); }
  .megabox-info .bg-kids {
    background-image: url("../img/bg-main-megainfo-kids.png"); }
  .megabox-info .info__notice {
    height: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    font-size: 15px;
    color: #222; }
    .megabox-info .info__notice .wrap {
      height: 100%;
      display: grid;
      grid-template-columns: 0.1fr 1fr 0.1fr;
      align-items: center; }
    .megabox-info .info__notice .more {
      justify-self: end; }
      .megabox-info .info__notice .more span {
        display: inline-block;
        width: 7px;
        height: 12px;
        background-image: url("../img/ico-arr-right-gray.png");
        background-repeat: no-repeat;
        margin-left: 10px; }
  .megabox-info .info__notice .link {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-right: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2; }
    .megabox-info .info__notice .link span {
      color: #01738b;
      font-weight: 600; }
    .megabox-info .info__notice .link p:last-child {
      color: #666; }
  .megabox-info .info-link .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px; }
  .megabox-info .info-link .link a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .megabox-info .info-link .link a span {
      margin-top: 15px;
      color: #222;
      font-size: 15px; }

footer {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center; }

@keyframes moveMouse {
  0% {
    transform: translateY(0px); }
  70% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0px); } }
