@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");
@import "common/mixins";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

body {
    font-family: 'NanumBarunGothic', sans-serif;
    height: 100vh;
}

.wrap {
    width: 1100px;
    margin: 0 auto;
}

.body-wrap {
    position: relative;
}

.header {
    position: absolute;
    width: 100%;
    height: 91px;
    padding: 18px 0;
    z-index: 3;
    color: white;
    background-color: rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(255,255,255,.2);
    .menu-wrap {
        display: grid;
        grid-template-columns: 2fr 1.5fr 2fr;
    }   
    .menu__small {
        display: flex;
        font-size: 13px;
        margin-bottom: 13px;
        color: rgb(145, 145, 145);
        li:not(:last-child) {
            margin-right: 20px;
        }
    }
    .menu__large {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu__icon {
            height: 36px;
            display: flex;
            a {
                width: 36px;
                background-repeat: no-repeat;
                background-position: center center;
            }
            .btn-open-sitemap {
                background-image: url("../img/ico-sitemap-white.png");
            }
            .btn-search {
                background-image: url("../img/ico-search-white.png");
            }
            .btn-schedule {
                background-image: url("../img/ico-schedule-white.png");
            }
            .btn-mymega {
                background-image: url("../img/ico-mymega-white.png");
            }
        }
        .on {
            background-image: url("../img/btn-header-layer-close.png") !important;
        }
        .menu__main {
            width: 65%;
            font-size: 18px;
            ul {
                display: flex;
                justify-content: space-around;
            }
        }
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-right {
        .menu__small {
            justify-content: flex-end;
        }
        .menu__icon {
            order: 1;
        }
    }
}

.header .layer-sitemap {
    display: none;
    position: absolute;
    width: 100%;
    padding: 50px 0 70px;
    top: 90px;
    left: 0;
    background-color: #333;
    h4 {
        text-transform: uppercase;
        font-size: 22px;
    }
    .sitemap__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-top: 25px;
        text-align: center;
        ul {
            li {
                color: #bbb;
                font-size: 15px;
                &:first-child {
                    color: white;
                    font-size: 18px;
                    padding: 15px 0;
                    border-top: 1px solid rgba(68,68,68,.5);
                    border-bottom: 1px solid rgba(68,68,68,.5);
                    margin-bottom: 20px;
                }
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
            &:nth-child(5),
            &:nth-child(6) {
                grid-row-start: span 2;
            }
        }
    }
}
.header .layer-header-search {
    display: none;
    position: absolute;
    width: 100%;
    padding: 50px 0;
    top: 90px;
    left: 0;
    background-color: #351f67;
}

main {
    letter-spacing: -0.5px;
}

.boxoffice {
    position: relative;
    color: white;
    overflow: hidden;
    margin-bottom: 50px;
    .bg {
        z-index: -1;
        position: absolute;
        width: 100%;
        margin: 0 auto;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: linear-gradient(to right, rgba(85,63,5,1) 0%, rgba(23,17,1,0) 50%, rgba(85,63,5,1) 100%);
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(3,1,21,0.7);
        }
        &-pattern {
            content: '';
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url("https://www.megabox.co.kr/static/pc/images/movie/bg-movie-detail-pattern.png") repeat 0 0;
        }
        img {
            width: 100%;
            object-fit: cover;
            filter: blur(15px);
        }
    }
}
.contents {
    width: 100%;
    margin-top: 170px;
    font-size: 16px;
}
.content__title {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    h3 {
        padding-bottom: 7px;
        border-bottom: 1px solid #aaa;
    }
}
.content__title .more-movie {
    justify-self: end;
    display: flex;
    align-items: center;
    @include plus-btn;
    span {
        background-image: url("../img/ico-more-cross-gray.png");
    }
}
.movie-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    .movie:not(:last-child) {
        margin-right: 20px;
    }
    .back {
        display: none;
    }
    .btn-util {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 5px;
        margin-top: 10px;
    }
    .like {
        @include like-btn;
    }
    .ticketing {
        @include ticketing-btn;
    }
}
.movie__info .front {
    position: relative;
    .rank {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        font-size: 30px;
        text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
        background: url("../img/bg-main-movie-rank.png") no-repeat 0 0;
    }
    img {
        width: 245px;
        height: 352px;
        border-radius: 5px;
    }
}

.link-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(0,0,0,0.3);
    padding: 25px 0;
    margin-bottom: 50px;
    justify-items: center;
    font-size: 15px;
    & > div,
    a {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &:not(:last-child) {
            border-right: 1px solid rgba(255,255,255,0.2);
        }
    }
    a span {
        margin-right: 10px;
        display: inline-block;
    }
    .link__search {
        position: relative;
        input {
            width: 200px;
            padding: 0 10px 5px 10px;
            border: none;
            border-bottom: 1px solid rgba(255,255,255,0.2);
            background: none;
            font-size: 15px;
            color: white;
            &:focus {
                outline: none;
            }
        }
        button {
            position: absolute;
            right: 35px;
            top: 0;
            outline: none;
            border: none;
            background: transparent;
            cursor: pointer;
            span {
                display: inline-block;
                width: 18px;
                height: 18px;
                background-image: url("../img/ico-search-white.png");
            }
        }
    }
    .link__schedule {
        span {
            width: 24px;
            height: 26px;
            background-image: url("../img/ico-schedule-main.png");
        }
    }
    .link__boxoffice {
        span {
            width: 26px;
            height: 24px;
            background-image: url("../img/ico-boxoffice-main.png");
        }
    }
    .link__ticketing {
        span {
            width: 29px;
            height: 25px;
            background-image: url("../img/ico-quick-reserve-main.png");
        }
    }
}

.moving-mouse {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    animation: moveMouse 2s infinite;
}

.benefit {
    position: relative;
    overflow: hidden;
    min-height: 780px;
    &::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 465px;
        bottom: 0;
        background-color: #503396;
    }
}
.benefit__title {
    display: flex;
    justify-content: space-between;
    h4 {
        @include contents-title;
    }
    .more-benefit {
        @include plus-btn;
        span {
            background-image: url("../img/btn-more-cross-purple.png");
        }
    }
}
.benefit__contents {
    position: relative;
    height: 325px;
}

.benefit__contents .slide {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    .slide-item {
        z-index: 0;
        position: absolute;
        top: 0;
        height: 100%;
    }
    .slide__txt {
        height: 230px;
        opacity: 0;
        transform: translateY(100px);
        transition: all 0.5s cubic-bezier(0.14, 0.17, 0.39, 0.81);
    }
    .slide__bg {
        overflow: hidden;
        width: 400px;
        height: 100%;
        opacity: 0;
        transform: translate(100px);
        transition: all 0.5s cubic-bezier(0.14, 0.17, 0.39, 0.81);
    }
    .showing {
        z-index: 1;
        display: flex;
        .slide__txt {
            transform: translateY(0);
            opacity: 1;
        }
        .slide__bg {
            transform: translate(0);
            opacity: 1;
        }
    }
}
.benefit__contents .slide-control {
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 42px;
    display: flex;
    align-items: center;
    .control-wrap {
        width: 190px;
        height: 2px;
        background-color: #ebebeb;
        margin-right: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .on {
            background-color: #503396;
        }
    }
    .control-util {
        button {
            height: 12px;
            cursor: pointer;
            outline: none;
            border: none;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .btn-prev {
            width: 7px;
            background-image: url(../img/btn-benefit-slider-prev.png);
        }
        .btn-next {
            width: 7px;
            background-image: url(../img/btn-benefit-slider-next.png);
        }
        .btn-pause {
            width: 6px;
            background-image: url(../img/btn-benefit-slider-pause.png);
        }
        .btn-play {
            display: none;
            width: 6px;
            background-image: url(../img/btn-benefit-slider-play.png);
        }
        .on {
            display: inline-block;
        }
    }
    .slide-count {
        margin-top: 2px;
        margin-left: 8px;
        font-size: 15px;
    }
}
.benefit__contents .ad {
    width: 100%;
    .banner {
        display: flex;
    }
    .banner a {
        width: 441px;
        height: 204px;
        box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2);
        &:last-child {
            width: 204px;
            margin-left: 20px;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }
    .ad-img {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 415px;
        height: 530px;
        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }
}
.benefit__contents .menu-link {
    padding: 50px 60px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .link {
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 16px;
            color: white;
            img {
                margin-bottom: 20px;
            }
        }
    }
}

.curation {
    background-color: #252451;
    padding-top: 50px;
    padding-bottom: 120px;
    .curation__title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
        h4 {
            @include contents-title;
            color: white;
        }
        .more-curation {
            @include plus-btn;
            display: flex;
            align-items: center;
            span {
                background-image: url("../img/ico-more-cross-gray.png");
                margin-bottom: 3px;
            }
        }
    }
    .curation-contents {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        color: white;
        .hero-movie {
            grid-row-start: span 2;
            padding-left: 20px;
        }
        .hero-info,
        .curation-list {
            grid-column-start: span 2;
        }
        .bage {
            position: absolute;
            left: 0;
            top: -10px;
            width: 123px;
            height: 135px;
            text-indent: -9999px;
        }
    }
    .curation-contents .hero-movie {
        position: relative;
        p {
            background-image: url("../img/bg-bage-curation-classic.png");
            background-repeat: no-repeat;
        }
        .hero__img {
            img {
                width: 88%;
                border-radius: 20px;
            }
        }
        .btn-util {
            width: 88%;
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            font-size: 20px;
            a {
                padding: 15px;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 5px;
                text-align: center;
            }
            .ticketing {
                @include ticketing-btn;
                font-size: 20px;
            }
        }
    }
    .curation-contents .hero-info {
        line-height: 1.5;
        h3 {
            font-size: 21px;
        }
        h4 {
            font-size: 35px;
            padding-bottom: 20px;
            border-bottom: 1px solid #474681;
        }
        ul {
            padding-top: 20px;
            font-size: 16px;
            li:first-child {
                margin-bottom: 20px;
            }
        }
    }
    .curation-contents .curation-list {
        margin-top: 25px;
        ul {
            display: flex;
            justify-content: space-between;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            li {
                position: relative;
            }
            li .img {
                width: 170px;
                height: 244px;
                .bage {
                    left: 10px;
                    top: -20px;
                }
                p {
                    background-image: url("../img/bg-bage-curation-film-m.png");
                    background-repeat: no-repeat;
                }
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                }
            }
            li p {
                margin-top: 15px;
                font-size: 15px;
            }
        }
    }
}

.megabox-info {
    margin-top: 50px;
    margin-bottom: 100px;
    .info__title {
        @include contents-title;
        margin-bottom: 40px;
    }
    .info__list ul {
        display: flex;
        justify-content: space-between;
    }
    .info__list a {
        display: block;
        width: 170px;
        height: 170px;
        border-radius: 10px;
        background-position: 0 0;
        background-size: 170px 340px;
        background-repeat: no-repeat;
        text-indent: -9999px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
        &:not(:last-child) {
            margin-right: 16px;
        }
        &:hover {
            background-position: 0 bottom;
        }
    }
    .bg-dolby {
        background-image: url("../img/bg-main-megainfo-dolby.png");
    }
    .bg-private {
        background-image: url("../img/bg-main-megainfo-private.png");
    }
    .bg-boutique {
        background-image: url("../img/bg-main-megainfo-boutique.png");
    }
    .bg-mx {
        background-image: url("../img/bg-main-megainfo-mx.png");
    }
    .bg-comfort {
        background-image: url("../img/bg-main-megainfo-comfort.png");
    }
    .bg-kids {
        background-image: url("../img/bg-main-megainfo-kids.png");
    }
    .info__notice {
        height: 60px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-top: 1px solid #e2e2e2;
        border-bottom: 1px solid #e2e2e2;
        font-size: 15px;
        color: #222;
        .wrap {
            height: 100%;
            display: grid;
            grid-template-columns: 0.1fr 1fr 0.1fr;
            align-items: center;
        }
        .more {
            justify-self: end;
            span {
                display: inline-block;
                width: 7px;
                height: 12px;
                background-image: url("../img/ico-arr-right-gray.png");
                background-repeat: no-repeat;
                margin-left: 10px;
            }
        }
    }
    .info__notice .link {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        border-right: 1px solid #e2e2e2;
        border-left: 1px solid #e2e2e2;
        span {
            color: #01738b;
            font-weight: 600;
        }
        p:last-child {
            color: #666;
        }
    }
    .info-link {
        .wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 50px;
        }
        .link a {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            span {
                margin-top: 15px;
                color: #222;
                font-size: 15px;
            }
        }
    }
}
footer {
    padding: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



@keyframes moveMouse {
    0% {
        transform: translateY(0px);
    }
    70% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}