@mixin like-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #555;
    border-radius: 5px;
    .like__heart {
        width: 17px;
        height: 15px;
        background-image: url("../img/ico-heart-toggle-main.png");
        margin-right: 5px;
    }
    .like__count {
        font-size: 13px;
        color: white;
    }
}

@mixin ticketing-btn {
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: rgb(16, 123, 150);
    font-size: 15px;
    color: white;
}

@mixin contents-title {
    font-size: 30px;
    color: #351f66;
}

@mixin plus-btn {
    color: #aaa;
    font-size: 15px;
    span {
        display: inline-block;
        width: 16px;
        height: 16px;
        background-size: cover;
        background-position: center center;
        margin-left: 10px;
    }
}